* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: auto;
    background: #2e2e2e;
    font-family: 'Poppins', sans-serif;
    color: white; 
    font-size: 20px;
} 

header {
    background: #FF4F33;
    height: auto;
    padding: 20px;
    text-align: center;
}

h1 {
    font-family: 'Major Mono Display', monospace;
    line-height: 50px;
}

.result {
    text-align: center;
    margin-bottom: 50px;
    font-size: 30px;
}

.score {
    border: 3px solid #fff;
    margin: 50px auto;
    width: 400px;
    height: 160px;
    font-weight: 900;
    text-align: center;
    padding: 40px;
    position: relative;
    font-size: 50px;
    border-radius: 5px;
}

.badge {
    width: 100px;
    height: 50px;
    background: #FF4F33;
    font-size: 15px;
    border-radius: 5px;
    padding: 12px;
    letter-spacing: 3px;
}

.user-label {
    position: absolute;
    top: 50px;
    left: -45px;
}

.pc-label {
    position: absolute;
    top: 50px;
    left: 350px;
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;
} 

.choise {
    background-color: #FF4F33;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 50px;
    position: relative;
} 

img {
    width: 100px;
    position: absolute;
    top: 30px;
    left: 50px;
}

.choise:hover {
    border: 3px solid #fff;
    background-color: #e9af30;
    cursor: pointer;
}

.action {
    text-align: center;
    margin-top: 30px;
    font-family: 'Major Mono Display', monospace;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 30px;
}

@media only screen and (max-width: 760px) {
    header {
        padding: 10px;
    } 

    h1 {
        font-size: 15px;
    }

    .container {
        padding: 55px;
    }

    .result {
        font-size: 15px;
        margin: 10px;
    }
    
    .score {
        width: 200px;
        height: 100px;
        text-align: center;
        padding: 25px;
        font-size: 30px;
        border-radius: 5px;
        margin: 30px auto;
    }

    .badge {
        width: 80px;
        height: 40px;
        font-size: 10px;
        padding: 12px;
    }

    .user-label {
        top: 30px;
    }
    
    .pc-label {
        top: 30px;
        left: 155px;
    }

    .options {
        flex-direction: column;
    } 

    .choise {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin: 10px;
    } 
    
    img {
        width: 45px;
        top: 10px;
        left: 18px;
    }

    .action {
        font-size: 15px;
        letter-spacing: 10px;
    }
    
}